# Course Code: DS4003 
# Course Name: Principles and Techniques for Data Science 
# Lab Session: 01 - Data Cleaning

### Some contents of this lab are adapted from UC Berkeley's Data100 course

This first lab is meant to introduce you to techniques related to data manipulation and data cleaning.

### Import libraries

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

sns.set()
sns.set_context('talk')
np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.options.display.max_rows = 7
pd.options.display.max_columns = None
pd.set_option('display.precision', 2)

## Data cleaning

Read Hadley Wickham's _R for Data Science_ book: https://r4ds.had.co.nz/tidy-data.html

### Let's try our first untidy data

In [ ]:
ut1 = pd.read_csv('untidy1.csv')
ut1.head()

### Let's try to read in 'untidy1.csv'  the data with a different delimiter

In [ ]:

ut1 = pd.read_csv('untidy1.csv', sep='\s+')
ut1.head()

### Let's try another untidy dataset

In [ ]:
ut2 = pd.read_csv('untidy2.csv')
ut2.head()

In [ ]:
ut2 = pd.read_csv('untidy2.csv', sep="\s+")
ut2.head()

### From the output above we can see that 1999 and 2000 appear as column names. This doesnt look right. Let's use the melt function on these two columns to make it more tidy

Read here about the melt function: https://pandas.pydata.org/docs/reference/api/pandas.melt.html

In [ ]:
ut = ut2.melt(id_vars=['country'], value_vars=['1999', '2000'])
ut.head()

### We still need to rename the column, we can do it while melting.

In [ ]:
ut = ut2.melt(id_vars=['country'], value_vars=['1999', '2000'], var_name='year')
ut.head()

## Let's look at a big untidy dataset

In [ ]:
tb = pd.read_csv('tb.csv')

In [ ]:
tb.head()

### Let us take a look at the columns

In [ ]:
tb.columns

### The columns names are difficult to understand, let's see the metadata

In [ ]:
tb_meta = pd.read_csv('tb_meta.csv')

In [ ]:
tb_meta.head()

### Let's look at the variables specific to to the columns presnt in tb

In [ ]:
curr_meta = tb_meta[tb_meta['variable_name'].isin(tb.columns)]

In [ ]:
curr_meta.head()

In [ ]:
### the dataset and code_list colunms are not that useful, so we remove them
curr_meta = curr_meta.drop(columns=['dataset', 'code_list'])

In [ ]:
for i in range(curr_meta.shape[0]): 
    entry = curr_meta.iloc[i]
    print(f'{entry.variable_name}: {entry.definition}')

### Now we will define some functions to tidy up the tb dataset

In [ ]:
## define a function to drop 'iso2' and 'iso3'
def drop_iso(df):
    #YOUR CODDE HERE
    return NotImplemented

In [ ]:
## define a function to make a dataframe tidy using pd.melt
## use country and year as id_vars
## set var_name as 'entry'
## set value_name as 'count'
def make_tidy(df):
    # YOUR CODE HERE

    return NotImplemented

### We will now introduce some new columns into our dataframe.
We will use the df.assign function. You can read more about it https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html

In [ ]:
## define a function to introduce two columns 'sex' and 'agecodes'
## The values of sex and agecodes should be extracted from the 'codes' value defined in the function
## drop the entry column after you are done

def split_entry(df):
    codes = df['entry'].str.split('_').str[-1]
    #YOUR CODE HERE
    return NotImplemented

### Now we will define a function to format the age column

In [ ]:
def age_from_code(df):
    return df.assign(age=df['agecode'].replace({
        '014': '0-14',
        '04': '0-4',
        '1524': '15-24',
        '2534': '25-34',
        '3544': '35-44',
        '4554': '45-54',
        '5564': '55-64',
        '65': '65+',
    })).drop(columns='agecode')

### Run the code below to see effects of the methods you implemented

We will use the DataFrame.pipe function. You can read more about it here https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pipe.html

In [ ]:
tidy = (tb.pipe(drop_iso)
 .pipe(make_tidy)
 .pipe(split_entry)
 .pipe(age_from_code)
)
tidy

### Now there are a lots of NaN value in the dataframe, lets drop them

In [ ]:
# YOUR CODE HERE

### Let's select a subset of the data. Select a subset of the data that shows the average number of cases for countries that start with the letter H

In [ ]:
# YOUR CODE HERE

Tidy data is especially useful for seaborn, the plotting library we will use extensively in this course!

Create a barplot with the subset created. The x-axis should be the count and teh y-axis should be the country.

In [ ]:
# YOUR CODE HERE

## Hierarchical Data

A lot of structured data isn't in CSV format, but in HTML, XML, JSON, YAML, etc. JSON might have a structure that Pandas can't read directly.

Here's an example: a group of people collected information about US congressional legislators in YAML format.

https://github.com/unitedstates/congress-legislators

Here's one of the data files:

https://github.com/unitedstates/congress-legislators/blob/master/legislators-current.yaml

In [ ]:
import yaml
legislators_path = 'legislators-current.yaml'
legislators = yaml.safe_load(open(legislators_path))
len(legislators)

As we can see below, the data is mostly stored in several dictionaries. 
Hence, to access the data, we need to access the dictionaries.

In [ ]:
legislators[0]

Let's look at the data pertaining to the first legislator.

In [ ]:
x = legislators[0]
x['id']

### Retrieve the name of the first legislator

In [ ]:
### YOUR CODE HERE

### Retrieve the bio of the first legislator

In [ ]:
### YOUR CODE HERE

### Create a function to generate a datetime object from the birthday string associated with a legislator's birthday. Use datetime.strptime(). Test your function on the first legilator, x. You can read more about it here https://www.programiz.com/python-programming/datetime/strptime

In [ ]:
### YOUR CODE HERE

### Create a dataframe called 'leg_df'  that has four columns 'id', 'first', 'last', and 'birthday' for all legislators.

In [ ]:
## YOUR CODE HERE

### Calculate the current age of the legistlators in a new column 'age'

In [ ]:
### YOUR CODE HERE

### Plot a histogram of the newly created age column

In [ ]:
## YOUR CODE HERE

## Missing Values
Thd column religion from the original legistlators dataset has a few missing values. Create a new column in leg_df with the name 'religion' and extract the religion of each legislator for this colum.

In [ ]:
### YOUR CODE HERE

### How many null values do we have in the religion column.

In [ ]:
### YOUR CODE HERE

### Replace the null values in religion with 'Unknown'

In [ ]:
### YOUR CODE HERE

## Merging Dataframes
Now we will look at how to merge dataframes. Lets read in some new data.

In [ ]:
comm_path = 'committees-current.yaml'
comm_membership_path = 'committee-membership-current.yaml'

comms = yaml.safe_load(open(comm_path))
comm_membership = yaml.safe_load(open(comm_membership_path))
print(len(comms), len(comm_membership))

In [ ]:
comms[0]
# thomas_id is a unique reference to the committee

### Lets create a dataframe from the commitees dataset

In [ ]:
comm_df = pd.DataFrame(
    columns=['name', 'thomas_id', 'type'],
    data=[[c['name'], c['thomas_id'], c['type']] for c in comms]
)
comm_df

### Now let's take a look at the commitee memberships

In [ ]:
comm_membership.keys()

In [ ]:
comm_membership['HSAG'][0]

### Now let's create a dataframe from the commitee memberships dataset

In [ ]:
member_df = pd.DataFrame(
    columns=['comm_id', 'leg_id'],
    data=[[c, m['bioguide']] for c, members in comm_membership.items() for m in members]
)
member_df.head()

### Merge the member-df with comm_df on 'comm_id' and 'thomas_id'. Name it member_comm

Read more about pd.merge here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [ ]:
### YOUR CODE HERE

### Count the number of legistlators belonging to each committee.

In [ ]:
### YOUR CODE HERE

### Merge member_comm with with leg_df on 'leg_id',  and 'id'

In [ ]:
### YOUR CODE HERE

### Compute the average age of legislators in each committee

In [ ]:
### YOUR CODE HERE

## Missing Values

* Drop the data with missing values (we did that for previous examples)
* Estimate the missing value
    1. use mean, median or mode 
    2. Use inference engine to estimate 
    3. Some values should not be estimated (e.g., religion in previous example)
* Zero fill or value fill

## Random Sampling 

if we use pandas, we can simply use sample function. Read more here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html

In [ ]:
# sample 20% of data from the tidy dataframe
A = tidy.sample(frac=0.2)
print(A.shape, tidy.shape)
# sample 20 data 
B = tidy.sample(n=20)
print(B.shape)

## What if we need to randomly sample images or files. for example files in the current directory?
We can use the Python funtion random. Read more about random here

In [ ]:
import os 
import random 
files = os.listdir(".")

In [ ]:
print(files)

### Files is a list files in your current working directory. Sample 2 random files from your files directiory and print their names.

In [ ]:
### YOUR CODE HERE

## What if we have to sample data from numpy array 
We can use np.random. Read more about it here https://numpy.org/doc/stable/reference/random/index.html.

### First use any two np.random functions to generate an array of random numbers

In [ ]:
### YOUR CODE HERE

### Randomly sample 3 elements without replacement

In [ ]:
### YOUR CODE HERE

### Randomly sample 3 elements with replacement

In [ ]:
### YOUR CODE HERE