# Course Code: DS4003 
# Course Name: Principles and Techniques for Data Science 
# Homework Assignment 1
# Due date: 4th October 2024
## Save the notebook with your name and submit it by the due date.

Didactic purpose of this assignment:

- Practice your Python coding skills for common data science tasks such as data cleaning, preprocessing and data visualization.

In [1]:
## Some basic libraries have been imported for you here
import numpy as np
import pandas as pd
import seaborn as sns

You are given a real world dataset on wine samples collected from a region in Portugal. The dataset contains information on various characteristics measured from the wine samples. 
The dataset contains the following features.

- fixed acidity
- volatile acidity
- citric acid
- residual sugar
- chlorides
- free sulfur dioxide
- total sulfur dioxide
- density
- pH
- sulphates
- alcohol
- quality (score between 0(poor) and 10(good))

In [2]:
filepath = 'wine_recordings.csv'
data = pd.read_csv(filepath)
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,collection_date
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,2020-12-07
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0,2020-09-23
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0,2017-07-30
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0,2016-04-13
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,2018-01-23

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 1 (0.2pts)

### 1a: Your first task is identify whether the dataset needs to be cleaned. Justify your answer in a text. Show evidence of how you do this.
### 1b: Next, based on your answers in 1a, implement functions to do this .


</div>

In [3]:
## YOUR CODE HERE

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 2 (0.2pts)
### According to our wine experts, the datataset is missing a few variables hence we will do some feature engineering. 
### 1a: Write a function to insert or create a new column in the dataframe. The new column should add the values in 'residual sugar' and 'citric acid'. The new column should be called 'acidity balance'
### 1b: Calculate the current age of the wine samples using the collection dates. The calculated age should be inserted into a new column named 'barrel age'. Round off the age to 1 decimal place. Additionally, split the collection date into the year, month, and day. Place these in separate columns.
### 1c. Use the  DataFrame.pipe function to run your implemented methods on the dataframe.

</div>

In [4]:
## YOUR CODE HERE

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 3 (0.2pts)

    
### 1a: Select a subset of the data that groups the dataset according to the quality of the wine and the month in which it was collected. Group this subset by the average. Hint: Use the the groupby function.
### 1b. Use an appriopriate plot to visualize this subset. 

</div>

In [5]:
## YOUR CODE HERE

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 4 (0.4pts)
### In this section, you will use visualization methods to derive insights about the wine dataset. 
    
### 1a: In which year were most of the samples collected?
    
### 1b:What is the correlation between the different characteristics collected from the wine samples?

### 1c: What is the distribution of the acidity balance and pH of the wine samples grouped by year?. Were there any differnces between the years?
    
### 1d: A good wine sample is categorized by a quality greater than 6. What is the proportion of good wines to bad wines. 

</div>

In [6]:
## YOUR CODE HERE